<%# スタイル %>
<%= stylesheet_link_tag 'styles/note' %>

<div class="note-show main">
  <div class="wrap">
    <div class="note-show__head flex">
      <div class="note-show__head-item">
        <%= link_to 'ノート一覧へ戻る', :back, class: 'note-show__link' %>
        <p class="note-show__text">
          <%= current_user.name %>さんのページ
        </p>
      </div>
      <div class="note-show__head-item flex">
        <%= link_to edit_book_note_path(@book, @note), class: 'contents' do %>
        <i class="fa-solid fa-pen-to-square note-show__icon" style="color: #269bf4;"></i>
        <% end %>
        <i class="fa-solid fa-trash note-show__icon" id="xDestroyIcon" style="color: #269bf4;"></i>
      </div>
    </div>
    <dialog class="note-show__dialog" id="xDialog">
      <p class="note-show__dialog-text">本当に削除しますか？</p>
      <%= form_with url: book_note_path(@book, @note), class: 'note-show__dialog-form', method: :delete do |f| %>
      <div class="note-show__buttons flex">
        <%= button_tag 'キャンセル', type: 'button', class: 'note-show__dialog-button', id: "xCancelButton" %>
        <%= button_tag '削除する', type: 'submit', class: 'note-show__dialog-button' %>
      </div>
      <% end %>
    </dialog>
    <h2 class="note-show__title"><%= @book.title %></h2>
    <h3 class="note-show__author">ノート作者:<%= current_user.name %></h3>
    <div class="note-show__main">
      <div class="note-show__box first basic-note-box">
        <h3 class="basic-note-box__title">読む目的</h3>
        <div class="basic-note-box__content"><%= @note.purpose %></div>
      </div>
      <div class="note-show__box basic-note-box">
        <h3 class="basic-note-box__title">本のポイント</h3>
        <div class="basic-note-box__content">
          <dl class="note-show__list">
            <% @note.points.each do |point| %>
            <dt class="note-show__list-title"><%= point.title %></dt>
            <dd class="note-show__list-desc"><%= point.description %></dd>
            <% end %>
          </dl>
        </div>
      </div>
      <div class="note-show__box basic-note-box">
        <h3 class="basic-note-box__title">感想</h3>
        <div class="basic-note-box__content"><%= @note.impression %></div>
      </div>
      <div class="note-show__box basic-note-box">
        <h3 class="basic-note-box__title">アクションプラン</h3>
        <div class="basic-note-box__content">
          <ul class="note-show__list">
            <% @note.action_plans.each do |action_plan| %>
            <li class="note-show__list-item">
              &bull;&nbsp;<%= action_plan.detail %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="note-show__box basic-note-box">
        <h3 class="basic-note-box__title">メモ</h3>
        <div class="basic-note-box__content"><%= @note.memo %></div>
      </div>
    </div>
    <div class="note-show__bottom">
      <div class="note-show__like flex">
        <p class="note-show__like-text" id="xLikeText">
          <% if current_user.liked_notes.exists?(@note.id) %>
          いいねしたらコメントしよう
          <% else %>
          気に入ったらいいねしよう
          <% end %>
        </p>
        <% if current_user.liked_notes.exists?(@note.id) %>
        <button class="note-show__like-button" id="xDestroyLikeButton">
          <i class="fa-solid fa-heart" style="color: #ff565d;"></i>
          <span class="note-show__like-count"><%= @note.likes.count %></span>
        </button>
        <% else %>
        <button class="note-show__like-button" id="xLikeButton">
          <i class="fa-regular fa-heart note-show__like-icon"></i>
          <span class="note-show__like-count"><%= @note.likes.count %></span>
        </button>
        <% end %>
      </div>
      <%= form_with url: note_like_path(@note), html: { id: 'xLikeForm' }, local: true do |f| %>
      <% end %>
      <%= form_with url: note_like_path(@note), html: { id: 'xDestroyLikeForm' }, method: :delete, local: true do |f| %>
      <% end %>
    </div>
  </div>
</div>

<script>
  // ノートを削除
  const destroyIcon = document.getElementById("xDestroyIcon");
  const dialog = document.getElementById("xDialog");
  const cancelButton = document.getElementById("xCancelButton");

  destroyIcon.addEventListener("click", function() {
    dialog.showModal();
  });

  cancelButton.addEventListener('click', function() {
    dialog.close();
  })

  // いいね
  const likeButton = document.getElementById("xLikeButton");
  const likeForm = document.getElementById("xLikeForm");

  if(likeButton){
    likeButton.addEventListener("click", function () {
      likeForm.submit();
    });
  }

  // いいねを削除
  const destroyLikeButton = document.getElementById("xDestroyLikeButton");
  const destroyLikeForm = document.getElementById("xDestroyLikeForm");

  if(destroyLikeButton){
    destroyLikeButton.addEventListener("click", function () {
      destroyLikeForm.submit();
    });
  }
</script>
