<%# スタイル %>
<%= stylesheet_link_tag 'styles/auth' %>

<div class="auth main">
  <div class="wrap">
    <h2 class="auth__heading">新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth__form" }) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <div class="auth__item">
        <%= f.label :name, '名前', class: 'auth__label' %><br />
        <%= f.text_field :name, autocomplete: 'name', class: 'auth__input' %>
      </div>
      <div class="auth__item">
        <%= f.label :email, 'Eメール', class: 'auth__label' %><br />
        <%=
          f.email_field :email,
                        autofocus: true,
                        autocomplete: 'email',
                        class: 'auth__input'
        %>
      </div>
      <div class="auth__item">
        <%= f.label :password, 'パスワード', class: 'auth__label' %>
        <br />
        <%=
          f.password_field :password,
                           autocomplete: 'new-password',
                           class: 'auth__input'
        %>
      </div>
      <div class="auth__item">
        <%=
          f.label :password_confirmation, 'パスワード確認', class: 'auth__label'
        %><br />
        <%=
          f.password_field :password_confirmation,
                           autocomplete: 'new-password',
                           class: 'auth__input'
        %>
      </div>
      <div class="auth__item">
        <%= f.submit '登録', class: 'auth__submit basic-button' %>
      </div>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
