<%# スタイル %>
<%= stylesheet_link_tag 'styles/book' %>

<div class="book main">
  <div class="wrap">
    <div class="book__form-wrap">
      <%= form_with url: root_path, method: :get, local: true, class: 'basic-form' do |form| %>
      <%= form.text_field :search, class: 'basic-textfield', placeholder: '本を検索する' %>
      <%= button_tag type: "submit", class: "basic-submit-button" do %>
      <i class="fa-solid fa-magnifying-glass" style="color: #269bf4;"></i>
      <% end %>
      <% end %>
    </div>
    <%= link_to '本を追加する', new_book_path, class: 'book__button basic-button' %>
    <div class="book__list flex">
      <% if @books.any? %>
      <% @books.each do |book| %>
      <%= link_to book.info_link, class: 'contents', target: :_blank do %>
      <figure class="book__card">
        <%= image_tag book.image_link, class: 'book__image' %>
        <h3 class="book__title"><%= book.title.truncate(15) %></h3>
        <p class="book__author">
          <% if book.authors.any? %>
          <% book.authors.each_with_index do |value, index| %>
          <% break if index > 0 %>
          <%= value.name %><% '他' if book.authors.size > 1 %>
          <% end %>
          <% end %>
        </p>
      </figure>
      <% end %>
      <% end %>
      <% else %>
      <p class="book__text">登録されている書籍はありません</p>
      <% end %>
    </div>
  </div>
</div>