<%# スタイル %>
<%= stylesheet_link_tag 'styles/book' %>

<%# スクリプト %>
<% content_for :js do %>
<%= javascript_import_module_tag "book" %>
<% end %>

<div class="book-show main">
  <div class="wrap">
    <div class="book-show__data flex">
      <figure class="book-show__image">
        <%= image_tag @book.image_link, alt: @book.title %>
      </figure>
      <div class="book-show__detail">
      <h3 class="book-show__title"><%= @book.title %></h3>
      <ul class="book-show__authors flex">
            <% if @book.authors.any? %>
            <% @book.authors.each_with_index do |author, index| %>
            <li class="book-show__authors-item">
              <% if index == @book.authors.size - 1 %>
              <%= author.name %>
              <% else %>
              <%= author.name %>,&nbsp;
              <% end %>
            </li>
            <% end %>
            <% else %>
            <li class="book-show__authors-item">著者なし</li>
            <% end %>
          </ul>
          </div>
    </div>
    <div class="book-show__buttons flex">
      <button type="button" class="book-show__button basic-button amazon">Amazon</button>
      <%= button_to "登録を解除", book_path(@book), method: :delete, class: 'book-show__button basic-button destroy', id: 'xDestroyButton', form: { class: 'book-show__form', id: 'xForm' } %>
      <%= link_to 'ノート作成', new_book_note_path(@book), class: 'book-show__button basic-button' %>
    </div>
    <div class="book-show__note">
      <h3 class="book-show__note-title">この本のノート数&nbsp;0</h3>
      <ul class="book-show__note-list">
        <li class="book-show__note-item">ノート一覧</li>
      </ul>
    </div>
  </div>
</div>
