<%# スタイル %>
<%= stylesheet_link_tag 'styles/auth' %>

<div class="auth main">
  <div class="wrap">
    <h2 class="auth__heading">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth__form" }) do |f| %>
    <div class="auth__item">
      <%= f.label :email, 'Eメール', class: 'auth__label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'auth__input' %>
    </div>

    <div class="auth__item">
      <%= f.label :password, 'パスワード', class: 'auth__label' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'auth__input' %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="auth__item center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'ログインを記憶する' %>
    </div>
    <% end %>

    <div class="auth__item">
      <%= f.submit "ログイン", class: 'auth__submit basic-button' %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>